

<div class="header">
<img class="postpic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn3TgE2Fr7deliGPcjuiQuCGGMlHkU5CIqQw&usqp=CAU" alt="...">
  <div class="header-right">
    <a class="active" href="/post-list">Home</a>
    <a href="/new-post">Create Post</a>
    <a href="">About</a>
  </div>
</div>