<header>
<nav id="main-menu">
  <ul class="nav-bar">
       <li class="nav-button-home"><a href="/posts">Home</a></li>
       <li class="nav-button-services"><a href="/posts">All Posts</a></li>
       <li class="nav-button-products"><a href="/new-post">Create Post</a></li>
  </ul>
</nav>
</header>