
  li{
    list-style: none;
    margin-bottom: 10px;
  }

  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');
 *{
   border-radius: 0px !important;
   border: 0px !important;
 } */

#comment-container{
  padding: 20px !important;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

  .date{
  font-size: 12px;
}

.comment-text{
  font-size: 14px;
  line-height: 1.2rem;
}

 #backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 100000;
}

.modal {
  position: fixed; 
  top: 5%;
  bottom: 5%;
  left: 28.7%;
  width: 40%;
  background-color: transparent;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  border-radius: 10px;
  justify-content: center;
  z-index: 100001;
}

#comment-popup{
  overflow: auto;
  border-radius: 10px;
}

.comment-box2{
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
